{% extends "index.html" %} {% block content %}

<div class="row">
    <div class="twelve columns">
        <div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
    </div>
</div>


<!-- SCRIPT INITIALIZATION FOR GUAGE METER CHART -->
<script>
    Highcharts.chart('container', {

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },

        title: {
            text: 'Sarcastometer'
        },

        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{}]
        },

        // the value axis
        yAxis: {
            min: -100,
            max: 100,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'Points'
            },
            plotBands: [{
                from: -100,
                to: -30,
                color: '#55BF3B' // green
            }, {
                from: -30,
                to: 50,
                color: '#DDDF0D' // yellow
            }, {
                from: 50,
                to: 100,
                color: '#DF5353' // red
            }]
        },

        series: [{
            name: 'Sarcasm',
            data: [{{sarcasmScore}}],
            tooltip: {
                valueSuffix: ' Points'
            }
        }]

    });
</script>
{% endblock %}